*{
    font-family: 'Hind Madurai', sans-serif;
    font-family: 'Nunito', sans-serif;
  }
  

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004AAD;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom-left-radius: 6vh;
    border-bottom-right-radius: 6vh;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    color: #094a8f;
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #094a8f;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 0px;
}

.footer-menu {
  display: inline-block; 
  margin: 10px 0;
}

.footer-menu h3 {
  font-weight: bold;
  display: inline; 
  margin-right: 20px; 
}

.footer-menu a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.social-links a img {
  margin: 0 10px;
  width: 30px;
}
