/* Estilos para el encabezado (header) */
header {
    background-color: #094a8f;
    color: #fff;
    padding: 20px 0;
}

/* Estilos para la barra de navegación (navbar) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el logotipo (logo) */
.logo img {
    max-width: 300px;
    margin-left: 100px;
    margin-right: 0;
}

/* Estilos para el menú de navegación (menu) */
.menu {
    list-style: none;
}

/* Estilos para los elementos del menú (menu items) */
.menu li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para los enlaces del menú (menu links) */
.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

/* Continúa con los estilos para la sección hero después de este punto */

/* Estilos para la sección hero */
.hero {
    background-image: url('../static/img/hero-background.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
    color: #000000;
}

/* Estilos adicionales para la sección hero */
.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    margin-top: -200px;
}

/* Estilos para los elementos de menú en el pie de página */
.footer-menu h3 {
    margin: 10px 0;
}

/* Estilos para los enlaces en el pie de página */
.footer-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

/* Estilos para los enlaces de redes sociales */
.social-links a img {
    margin: 0 10px;
    width: 30px;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Agregado un comentario explicando el padding */
}

/* Estilos para la sección de presentación de imágenes (slideshow) */
#slideshow {
    margin: 0 auto;
    padding-top: 50px;
    height: 600px;
    width: 100%;
}

/* Estilos para el título del slideshow */
.slideshow-title {
    font-family: 'Arial', sans-serif; 
    font-size: 36px; 
    color: #000; 
    text-align: center; 
    margin-top: 20px; 
}

/* Estilos para los subtítulos */
.sub-heading {
    font-size: 18px;
    padding-top: 50px; /* Agregado un comentario explicando el padding */
}

/* Estilos para subtítulos adicionales con tamaños de fuente más pequeños */
.sub-heading-two {
    font-size: 15px;
}

.sub-heading-three {
    font-size: 13px;
}

.sub-heading-four {
    font-size: 11px;
}

.sub-heading-five {
    font-size: 9px;
}

.sub-heading-six {
    font-size: 7px;
}

.sub-heading-seven {
    font-size: 5px;
}

.sub-heading-eight {
    font-size: 3px;
}

.sub-heading-nine {
    font-size: 1px;
}

/* Estilos para el carrusel de contenido */
.entire-content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px; /* Agregado un comentario explicando el padding */
}

/* Estilos para el contenido del carrusel */
.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

/* Estilos para las figuras dentro del carrusel y sus transformaciones */
.content-carrousel figure {
    width: 100%;
    height: 120px;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px); 
}

.content-carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px); 
}

/* Estilos para la sombra del contenido en el carrusel */
.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

/* Estilos para las imágenes dentro del carrusel */
.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

/* Estilos para las imágenes al hacer hover */
.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

/* Animación de rotación para el carrusel */
@keyframes rotar {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    margin-bottom: 200px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}