* {
  font-family: 'Hind Madurai', sans-serif;
  font-family: 'Nunito', sans-serif;
}

/* Estilos para la cabecera */
header {
  background-color: #004AAD;
  color: #fff;
  padding: 20px 0;
  border-bottom-left-radius: 6vh;
  border-bottom-right-radius: 6vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 300px;
  margin-left: 50px;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline;
  margin-right: 50px;
  font-weight: bold;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

/* Estilos para la sección hero */
.hero {
  background-image: url('../static/img/hero-background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: #000;
  margin-top: -70px;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Estilos para el footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 0px;
}

.footer-menu {
  display: inline-block;
  margin: 10px 0;
}

.footer-menu h3 {
  font-weight: bold;
  display: inline;
  margin-right: 20px;
}

.footer-menu a {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.social-links a img {
  margin: 0 10px;
  width: 30px;
}

/* Estilos para el slider */
@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  margin-bottom: 50px;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilos para el carrusel */
.productos-recomendados {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  margin-top: -50px;
}

.carrusel {
  display: flex;
  animation: carrusel 13s linear infinite;
  margin-left: 200px;
}

.carrusel img {
  width: 700px;
  height: 300px;
}

@keyframes carrusel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2000px);
  }
}

input[type="text"] {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

button {
  background-color: #094a8f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  list-style: none;
  max-width: 1200px;
  margin: 0 auto;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: calc(33.33% - 20px);
  padding: 20px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.product:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product img {
  max-width: 40%; /* Aumenta el ancho de la imagen */
  height: auto;
}

.product h3 {
  font-size: 1em; /* Reduce el tamaño del texto */
  margin-top: 10px;
  color: #333; /* Cambia el color del texto si es necesario */
}

.product a {
  text-decoration: none;
}

.productos-aleatorios .product {
  flex: 0 0 calc(24% - 20px);
  max-width: calc(24% - 20px);
  margin: 10px;
}

.product .price {
  display: none;
  font-size: 1.2em;
  color: #000000;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  transition: opacity 0.8s;
}

.product:hover .price {
  display: block;
  opacity: 2;
}

.product a {
  text-decoration: none;
  display: block;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.product a:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Estilos para el mensaje emergente */
#popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#popup-box {
  width: 300px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.productos-aleatorios-container {
  display: flex;
  flex-wrap: wrap;
}

.productos-aleatorios-container .product {
  flex: 0 0 calc(24% - 20px);
  max-width: calc(24% - 20px);
  margin: 10px;
}
