/* Estilos generales */
header {
    background-color: #094a8f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para el logo */
.logo img {
    max-width: 350px;
    display: block;
    margin: 0 auto;
}

/* Estilos para los enlaces de redes sociales */
.social-links a img {
    margin: 0 10px;
    width: 30px;
}

/* Estilos para el contenido principal */
.custom-select, .seleccionar-button, .white-section, .button-container {
    text-align: center;
}

/* Estilos para el botón de seleccionar */
.seleccionar-button {
    background-color: rgb(14, 234, 106);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.seleccionar-button:hover {
    background-color: #36bd0d;
}

/* Estilos para la sección blanca */
.white-section {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    margin-bottom: 230px;
    align-items: center;
}

/* Estilos para el select personalizado */
.custom-select select {
    width: 30%;
    font-size: 16px;
}

/* Estilos para el título en la sección blanca */
.white-section h2 {
    color: #fff;
    text-align: center;
}
    
/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px ;
    margin-top: 280px;
}

/* Estilos para los elementos de menú en el pie de página */
.footer-menu h3, .footer-menu a {
    margin: 10px 0;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
