<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Category</title>
    <link rel="stylesheet" href="../static/css/category.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Nunito:wght@300&display=swap');
  </style>
<body>
    
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="../home.html" class="logo">
                    <img src="../static/img/logo2.png" alt="The MarketPlace Logo">
                </a>
                <ul class="menu">
                    <li> <a href="../home.html">Home</a></li>
                    <li> <a href="../iniciar.html">Iniciar sesión</a></li>
                    <li> <a href="../categorias.html">Categorías</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <h1>{{ categoria|title }}</h1>
    <ul class="product-list">
        {% for producto in productos %}
            <li class="product">
                <a href="/productos/{{ producto.id }}">
                    <img src="{{ producto.foto }}">
                    <h3>{{ producto.name }}</h3>
                    <p class="price">${{ producto.price }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    
</body>
<footer>
    <div class="container">
        <div class="footer-menu">
            <h3><a href="contacto.html">Contacto</a></h3>
            <h3><a href="terycond.html">Términos y Condiciones</a></h3>
            <h3><a href="quienessomos.html">¿Quiénes Somos?</a></h3>
            <h3><a href="defensaconsum.html">Defensa del Consumidor</a></h3>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/TheMarketPlaceok/"><img src="../static/img/Facebook_Logo.png" alt="Facebook"></a>
            <a href="https://twitter.com/TheMarketPlaceO"><img src="../static/img/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/themarketplace.ok/"><img src="../static/img/instagram.png" alt="Instagram" class="instagram"></a>
        </div>
    </div>
</footer>
</html>

