<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="../static/css/categorias.css">
</head>


<body>
    <div class="container">
        <header>
            <h1>CATEGORIAS</h1>
        </header>

        <main>
            <div class="category">
                <a href="/category/deportes">
                    <div class="category-bg" style="background-image: url('deportes.jpg');"></div>
                    <h2>Deportes</h2>
                </a>
            </div>
            <div class="category">
                <a href="/category/moda">
                    <div class="category-bg" style="background-image: url('moda.jpg');"></div>
                    <h2>Moda</h2>
                </a>
            </div>
            <div class="category">
                <a href="/category/electrodomesticos">
                    <div class="category-bg" style="background-image: url('electrodomesticos.jpg');"></div>
                    <h2>Electrodomésticos</h2>
                </a>
            </div>
            <div class="category">
                <a href="/category/tecnologia">
                    <div class="category-bg" style="background-image: url('tecnologia.jpg');"></div>
                    <h2>Tecnología</h2>
                </a>
            </div>
            <div class="category">
                <a href="/category/herramientas">
                    <div class="category-bg" style="background-image: url('herramientas.jpg');"></div>
                    <h2>Herramientas</h2>
                </a>
            </div>
        </main>
    </div>

    <footer>
        <h3><a href="contacto.html">Contacto</a></h3>
        <h3><a href="terycond.html">Términos y condiciones</a></h3>
    </footer>   
    

    <script src="static/js/app3.js"></script>
</body>
</html>
