<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="../static/css/categorias.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Nunito:wght@300&display=swap');
</style>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="home.html" class="logo">
                    <img src="../static/img/logo2.png" alt="The MarketPlace Logo">
                </a>
                <ul class="menu">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="iniciar.html">Iniciar sesión</a></li>
                    <li><a href="categorias.html">Categorías</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="category-row">
            <div class="category">
                <a class="link" href="/category/deportes">
                    <div class="category-bg category-deportes"></div>
                    <h2>Deportes</h2>
                </a>
            </div>
            <div class="category">
                <a class="link" href="/category/moda">
                    <div class="category-bg category-moda"></div>
                    <h2>Moda</h2>
                </a>
            </div>
        </div>
        <div class="centered-categories">
            <div class="category">
                <a class="link" href="/category/electrodomesticos">
                    <div class="category-bg category-electrodomesticos"></div>
                    <h2>Electrodomésticos</h2>
                </a>
            </div>
            <div class="category">
                <a class="link" href="/category/tecnologia">
                    <div class="category-bg category-tecnologia"></div>
                    <h2>Tecnología</h2>
                </a>
            </div>
        </div>
        <div class="category">
            <a class="link" href="/category/herramientas">
                <div class="category-bg category-herramientas"></div>
                <h2>Herramientas</h2>
            </a>
        </div>
    </main>
    
    

    <footer>
        <div class="container">
            <div class="footer-menu">
                <h3><a href="contacto.html">Contacto</a></h3>
                <h3>|</h3>
                <h3><a href="terycond.html">Términos y Condiciones</a></h3>
                <h3>|</h3>
                <h3><a href="quienessomos.html">¿Quiénes Somos?</a></h3>
                <h3>|</h3>
                <h3><a href="defensaconsum.html">Defensa del Consumidor</a></h3>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/TheMarketPlace/"><img src="../static/img/Facebook_Logo.png" alt="Facebook"></a>
                <a href="https://twitter.com/TheMarketPlaceO"><img src="../static/img/twitter.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/marketplacecollective/"><img src="../static/img/instagram.png" alt="Instagram" class="instagram"></a>
            </div>
        </div>
    </footer>   

    <script src="static/js/app3.js"></script>
</body>
</html>
