<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="../static/css/categorias.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Nunito:wght@300&display=swap');
</style>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="index.html" class="logo">
                    <img src="../static/img/logo.png" alt="The MarketPlace Logo">
                </a>
                <ul class="menu">
                    <li> <a href="home.html">Inicio</a></li>
                    <li> <a href="productos.html">Productos</a></li>
                    <li> <a href="categorias.html">Categorías</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">

        <main>
            <div class="category">
                <a class="link" href="/category/deportes">
                    <div class="category-bg category-deportes"></div>
                    <h2>Deportes</h2>
                </a>
            </div>
            <div class="category">
                <a class="link" href="/category/moda">
                    <div class="category-bg category-moda"></div>
                    <h2>Moda</h2>
                </a>
            </div>
            <div class="category">
                <a class="link" href="/category/electrodomesticos">
                    <div class="category-bg category-electrodomesticos"></div>
                    <h2>Electrodomésticos</h2>
                </a>
            </div>
            <div class="category">
                <a class="link" href="/category/tecnologia">
                    <div class="category-bg category-tecnologia"></div>
                    <h2>Tecnología</h2>
                </a>
            </div>
            <div class="category">
                <a class="link" href="/category/herramientas">
                    <div class="category-bg category-herramientas"></div>
                    <h2>Herramientas</h2>
                </a>
            </div>
            
        </main>
    </div>

    <div class="productos-recomendados">
        <div class="carrusel">
            <img src="../static/img/bannerlogo.png" alt="logo">
            <img src="../static/img/bannerdeportes.png" alt="Producto 1">
            <img src="../static/img/bannermoda.png" alt="Producto 2">
            <img src="../static/img/bannertecnologia.png" alt="Producto 3">
            <img src="../static/img/bannerelectrodomesticos.png" alt="Producto ">
            <img src="../static/img/bannerherramientas.png" alt="Producto 5">
            
        </div>
    </div>
    

    <footer>
        <footer>
            <div class="container">
                <div class="footer-menu">
                    <h3><a href="contacto.html">Contacto</a></h3>
                    <h3><a href="terycond.html">Términos y Condiciones</a></h3>
                    <h3><a href="quienessomos.html">¿Quiénes Somos?</a></h3>
                    <h3><a href="defensaconsum.html">Defensa del Consumidor</a></h3>
                </div>
                <div class="social-links">
                    <a href="#"><img src="../static/img/Facebook_Logo.png" alt="Facebook"></a>
                    <a href="#"><img src="../static/img/twitter.png" alt="Twitter"></a>
                    <a href="#"><img src="../static/img/instagram.png" alt="Instagram"></a>
                </div>
            </div>
        </footer>
    </footer>   

    <script src="static/js/app3.js"></script>
</body>
</html>