<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link rel="stylesheet" href="../static/css/category.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="index.html" class="logo">
                    <img src="../static/img/logo.png" alt="The MarketPlace Logo">
                </a>
                <ul class="menu">
                    <li> <a href="home.html">Inicio</a></li>
                    <li> <a href="productos.html">Productos</a></li>
                    <li> <a href="categorias.html">Categorías</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <h1>{{ categoria|title }}</h1>
    <ul class="product-list">
        {% for producto in productos %}
            <li class="product">
                <a href="/productos/{{ producto.id }}">
                    <img src="{{ producto.foto }}">
                    <h3>{{ producto.name }}</h3>
                    <p class="price">${{ producto.price }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>

