<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../static/css/contacto.css"> 
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Nunito:wght@300&display=swap');
</style>
<body>
    <header>
        <header>
            <nav class="navbar">
                <div class="container">
                    <a href="home.html" class="logo">
                        <img src="../static/img/logo.png" alt="The MarketPlace Logo">
                    </a>
                    <ul class="menu">
                        <li> <a href="home.html">Home</a></li>
                        <li> <a href="iniciar.html">Iniciar sesión</a></li>
                        <li> <a href="categorias.html">Categorías</a></li>
                    </ul>
                </div>
            </nav>
        </header>

    <div class="container">
        <form action="https://script.google.com/macros/s/AKfycbzySTVagGj13qsgXgeO7y3qCWR_MzgUJ-jJO2AdwYSJPSqmS6mrUQDGTxCgDQJH0gY/exec" method="post">
            <fieldset>
                <legend>Déjanos tu consulta!</legend> <br>
                <label for="nombre"> Nombre:</label>
                <input name="nombre" type="text" tabindex="1" placeholder="Ingrese su nombre"><br><br>
        
                <label for="apellido"> Apellido:</label>
                <input name="apellido" type="text" tabindex="2" placeholder="Ingrese su apellido"><br><br>
        
                <label for="telefono"> Teléfono:</label>
                <input name="telefono" type="number" tabindex="3" placeholder="Ingrese su número de teléfono"><br><br>
        
                <label for="consulta"> Consulta:</label>
                <input name="consulta" type="text" tabindex="4" placeholder="Ingrese su consulta"><br><br>
        
                <a href="home.html"><input type="submit" value="Enviar" onclick="submitForm();"></a>
            </fieldset>             
        </form>
        
    </div>

    <script>
        function submitForm() {
            var form = document.querySelector("form");
            form.submit(); 

            setTimeout(function () {
                window.location.href = "home.html";
            }, 1000);
        }
    </script>

<footer>
    <div class="container">
        <div class="footer-menu">
            <h3><a href="contacto.html">Contacto</a></h3>
            <h3>|</h3>
            <h3><a href="terycond.html">Términos y Condiciones</a></h3>
            <h3>|</h3>
            <h3><a href="quienessomos.html">¿Quiénes Somos?</a></h3>
            <h3>|</h3>
            <h3><a href="defensaconsum.html">Defensa del Consumidor</a></h3>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com/TheMarketPlace/"><img src="../static/img/Facebook_Logo.png" alt="Facebook"></a>
            <a href="https://twitter.com/TheMarketplace"><img src="../static/img/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/marketplacecollective/"><img src="../static/img/instagram.png" alt="Instagram" class="instagram"></a>
        </div>            
</footer>

</body>
</html>
