<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../static/css/contacto.css"> 
</head>
<body>
    <header>
        <img src="../static/img/logo.png" alt="Logo"> 

    <div class="container">
        <form action="https://script.google.com/macros/s/AKfycbxWOD7mH4QjNiz36i0IkY47cPNZkPi9nhsaS3YmcOQbWudscoJ6xB35DHxhNyp0b9jsoA/exec" method="post">
            <fieldset>
                <legend>Déjanos tu consulta!</legend> <br>
                <label for="nombre"> Nombre:</label>
                <input name="nombre" type="text" tabindex="1" placeholder="Ingrese su nombre"><br><br>
        
                <label for="apellido"> Apellido:</label>
                <input name="apellido" type="text" tabindex="2" placeholder="Ingrese su apellido"><br><br>
        
                <label for="telefono"> Teléfono:</label>
                <input name="telefono" type="number" tabindex="3" placeholder="Ingrese su número de teléfono"><br><br>
        
                <label for="consulta"> Consulta:</label>
                <input name="consulta" type="text" tabindex="4" placeholder="Ingrese su consulta"><br><br>
        
                <a href="home.html"><input type="submit" value="Enviar" onclick="submitForm();"></a>
            </fieldset>             
        </form>
        
    </div>

    <script>
        function submitForm() {
            var form = document.querySelector("form");
            form.submit(); 

            setTimeout(function () {
                window.location.href = "home.html";
            }, 1000);
        }
    </script>
</body>
</html>
