<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../static/css/contacto.css"> 
</head>
<body>
    <header>
        <img src="../static/img/logo.png" alt="Logo"> 

    <div class="container">
        <form action="https://script.google.com/macros/s/AKfycbwYYPs34xFzFNBhTbGyCaAeTQPVPv4U0n3QNYFAE31tvpClKiTwEglAlDMzFdld95-p/exec" method="post">
            <fieldset>
                <legend>Creá tu cuenta</legend> <br>
                <label for="username"> Usuario:</label>
                <input name="username" type="text" tabindex="1" placeholder="Ingrese su nombre"><br><br>
        
                <label for="password"> Contraseña:</label>
                <input name="password" type="text" tabindex="2" placeholder="Ingrese su contraseña"><br><br>
        
    <input type="submit" value="Enviar">
            </fieldset>             
        </form>
        
    </div>

</body>
</html>
