<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defensa del Consumidor</title>
    <link rel="stylesheet" href="../static/css/defensaconsum.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Nunito:wght@300&display=swap');
</style>
<body>
    <header>
        <h1>Defensa del Consumidor</h1>
    </header>
    <section>
        <h2>Tabla de Contenidos:</h2>
        <ul>
            <li><a href="#presentacion-quejas">Presentación de Quejas en Defensa del Consumidor</a></li>
            <li><a href="#informacion-legal">Información Legal</a></li>
            <li><a href="home.html">Regresar al Inicio</a></li>
        </ul>
    </section>
    <section>
        <h2 id="presentacion-quejas">Presentación de Quejas en Defensa del Consumidor</h2>
        <p>En "The MarketPlace," entendemos que los problemas pueden surgir, y estamos comprometidos a resolverlos de manera efectiva. Cualquier usuario que encuentre dificultades con los servicios proporcionados por nuestra plataforma puede iniciar un proceso de resolución de conflictos. A continuación, detallamos cómo llevar a cabo este proceso:</p>
        <ol>
            <li>Ingresar a tu cuenta: Accede a tu cuenta con tu nombre de usuario y contraseña.</li>
            <li>Sección de Ayuda: Una vez dentro de tu cuenta, dirígete a la sección de Ayuda.</li>
            <li>Contacto con el Vendedor: Aquí podrás ponerse en contacto con el vendedor para intentar resolver el problema directamente.</li>
            <li>Intervención de "The MarketPlace": Si el problema persiste o no se resuelve satisfactoriamente, puedes solicitar la intervención de "The MarketPlace".</li>
            <li>Defensor del Cliente de "The MarketPlace": Para compras realizadas en la plataforma de "The MarketPlace," si el reclamo no se resuelve de manera satisfactoria, tienes la opción de llevarlo al Defensor del Cliente de "The MarketPlace".</li>
            <li>Presentar una denuncia: Además, siempre tienes la opción de presentar una denuncia en el Portal de Defensa de Consumidores. Si tienes alguna duda, puedes consultar las leyes y regulaciones aplicables a la defensa del consumidor en tu país, ya que existen diferencias en todos los países.</li>
        </ol>
    </section>
    <footer>
        <div class="container">
            <div class="footer-menu">
                <h3><a href="contacto.html">Contacto</a></h3>
                <h3>|</h3>
                <h3><a href="terycond.html">Términos y Condiciones</a></h3>
                <h3>|</h3>
                <h3><a href="quienessomos.html">¿Quiénes Somos?</a></h3>
                <h3>|</h3>
                <h3><a href="defensaconsum.html">Defensa del Consumidor</a></h3>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/TheMarketPlace/"><img src="../static/img/Facebook_Logo.png" alt="Facebook"></a>
                <a href="https://twitter.com/TheMarketplace"><img src="../static/img/twitter.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/marketplacecollective/"><img src="../static/img/instagram.png" alt="Instagram" class="instagram"></a>
            </div>            </div>
    </footer>
</body>
</html>
