<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defensa del consumidor</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>
<body>
<h1>Defensa del Consumidor</h1>
<h2>Tabla de Contenidos:</h2> 
<p> 1. Presentación de Quejas en Defensa del Consumidor<br>
    2. Información Legal<br>
    3. Regresar al Inicio </p>

<h2>Presentación de Quejas en Defensa del Consumidor</h2>
<p>En "The MarketPlace," entendemos que los problemas pueden surgir, y estamos comprometidos a resolverlos de manera efectiva. Cualquier usuario que encuentre dificultades con los servicios proporcionados por nuestra plataforma puede iniciar un proceso de resolución de conflictos. A continuación, detallamos cómo llevar a cabo este proceso:<br>

    1. Ingresar a tu cuenta: Accede a tu cuenta con tu nombre de usuario y contraseña.<br>
    
    2. Sección de Ayuda: Una vez dentro de tu cuenta, dirígete a la sección de Ayuda.<br>
    
    3. Contacto con el Vendedor: Aquí podrás ponerse en contacto con el vendedor para intentar resolver el problema directamente.<br>
    
    4. Intervención de "The MarketPlace": Si el problema persiste o no se resuelve satisfactoriamente, puedes solicitar la intervención de "The MarketPlace".<br>
    
    Para compras realizadas en la plataforma de "The MarketPlace," si el reclamo no se resuelve de manera satisfactoria, tienes la opción de llevarlo al Defensor del Cliente de "The MarketPlace".<br>
    
    Además, siempre tienes la opción de presentar una denuncia en el Portal de Defensa de Consumidores. Si tienes alguna duda, puedes consultar las leyes y regulaciones aplicables a la defensa del consumidor en tu país, ya que existen diferencias en todos los países.<br>
    </p></body>
</html>