<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="static/css/inicio.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>The MarketPlace</h1>

            <nav>
                <ul>
                    <li><a href="categorias.html">Categorías</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Comprar</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </nav>
        </header>

    </div>

    <footer>
        <h3><a href="contacto.html">Contacto</a></h3>
        <h3><a href="terycond.html">Términos y condiciones</a></h3>
    </footer>
    

    <script src="static/js/app.js"></script>
</body>
</html>
