<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a href="home.html" class="logo">
                    <img src="../static/img/logo.png" alt="The MarketPlace Logo">
                </a>
                <ul class="menu">
                    <li> <a href="home.html">Inicio</a></li>
                    <li> <a href="productos.html">Productos</a></li>
                    <li> <a href="categorias.html">Categorías</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <section class="hero">
                <h1>Bienvenido a The MarketPlace</h1>
                <p>Tu lugar para comprar y vender productos de calidad.</p>
                <form action="/search" method="get">
                    <input type="text" name="q" placeholder="Buscar productos">
                    <button type="submit">Buscar</button>
                </form>
            </section>
        </div>
    </main>
<h1>Productos Destacados</h1>
<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
        <li id="carousel__slide1" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper" style="background-image: url('../static/img/prod21.png');">
            <a href="#carousel__slide4" class="carousel__prev">Go to last slide</a>
            <a href="#carousel__slide2" class="carousel__next">Go to next slide</a>
          </div>
        </li>
        <li id="carousel__slide2" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper" style="background-image: url('../static/img/prod22.png');"></div>
          <a href="#carousel__slide1" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide3" class="carousel__next">Go to next slide</a>
        </li>
        <li id="carousel__slide3" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper" style="background-image: url('../static/img/prod23.png');"></div>
          <a href="#carousel__slide2" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide4" class="carousel__next">Go to next slide</a>
        </li>
        <li id="carousel__slide4" tabindex="0" class="carousel__slide">
          <div class="carousel__snapper" style="background-image: url('../static/img/prod24.png');"></div>
          <a href="#carousel__slide3" class="carousel__prev">Go to previous slide</a>
          <a href="#carousel__slide1" class="carousel__next">Go to first slide</a>
        </li>
      </ol>
  <aside class="carousel__navigation">
    <ol class="carousel__navigation-list">
      <li class="carousel__navigation-item">
        <a href="#carousel__slide1" class="carousel__navigation-button">Go to slide 1</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide2" class="carousel__navigation-button">Go to slide 2</a>
      </li>
      <li class = "carousel__navigation-item">
        <a href="#carousel__slide3" class="carousel__navigation-button">Go to slide 3</a>
      </li>
      <li class="carousel__navigation-item">
        <a href="#carousel__slide4" class="carousel__navigation-button">Go to slide 4</a>
      </li>
    </ol>
  </aside>
</section>
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="../static/img/ucema.jpg" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/bbva.PNG" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/nike.jpg" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/ucema.jpg" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/bbva.PNG" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/nike.jpg" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/ucema.jpg" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/bbva.PNG" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/nike.jpg" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/ucema.jpg" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/bbva.PNG" height="90" width="120" alt="" />
        </div>
        <div class="slide">
            <img src="../static/img/nike.jpg" height="90" width="120" alt="" />
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="footer-menu">
            <h3><a href="contacto.html">Contacto</a></h3>
            <h3><a href="terycond.html">Términos y Condiciones</a></h3>
            <h3><a href="quienessomos.html">¿Quiénes Somos?</a></h3>
            <h3><a href="defensaconsum.html">Defensa del Consumidor</a></h3>
        </div>
        <div class="social-links">
            <a href="https://www.instagram.com/marketplacecollective/"><img src="../static/img/Facebook_Logo.png" alt="Facebook"></a>
            <a href="https://twitter.com/TheMarketplace"><img src="../static/img/twitter.png" alt="Twitter"></a>
            <a href="https://www.facebook.com/TheMarketPlace/"><img src="../static/img/instagram.png" alt="Instagram"></a>
        </div>
    </div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="static/js/home.js"></script>
</body>
</html>