<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="../static/css/inicio.css">
</head>
<body>
    <header>
        <img src="../static/img/logo.png" alt="The MarketPlace Logo">
    </header>

    <main>
        <div class="white-section">
            <h2>Selecciona tu país</h2>
            <div class="custom-select">
                <label>En qué país estás comprando:</label>
                <div class="select-selected">
                    <select id="countryDropdown">
                        <option value="" disabled selected>Selecciona un país</option>
                    </select>
                    <img id="flagImage" src="" style="width: 70px;">
                </div>
            </div>

            <div class="button-container">
                <form action="/redireccionar" method="POST">
                    <button type="submit" class="seleccionar-button">Seleccionar</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-menu">
            <h3><a href="contacto.html">Contacto</a></h3>
            <h3><a href="terycond.html">Términos y condiciones</a></h3>
            <h3><a href="quienessomos.html">¿Quiénes Somos?</a></h3>
            <h3><a href="defensaconsum.html" >Defensa del Consumidor</a></h3>
        </div>
    </footer>

    <script src="../static/js/home.js"></script>
</body>
</html>
