<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The MarketPlace</title>
    <link rel="stylesheet" href="../static/css/inicio.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Nunito:wght@300&display=swap');
  </style>
<body>
    <header>
        <div class="logo-container">
            <img src="../static/img/logo2.png" alt="The MarketPlace Logo" class="logo">
        </div>
    </header>

    <main>
        <div class="white-section">
            <h2>Selecciona tu país</h2>
            <div class="custom-select">
                <label for="countryDropdown">¿En qué país estás comprando?</label>
                <div class="select-container">
                    <select id="countryDropdown">
                        <option value="" disabled selected>Selecciona un país</option>
                    </select>
                </div>
            </div>

            <div class="button-container">
                <img id="flagImage" src="" alt="Bandera del país" class="flag">
                <button type="button" class="seleccionar-button" id="selectButton">Seleccionar</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="footer-menu">
                <h3><a href="contacto.html">Contacto</a></h3>
                <h3>|</h3>
                <h3><a href="terycond.html">Términos y Condiciones</a></h3>
                <h3>|</h3>
                <h3><a href="quienessomos.html">¿Quiénes Somos?</a></h3>
                <h3>|</h3>
                <h3><a href="defensaconsum.html">Defensa del Consumidor</a></h3>
            </div>
            <div class="social-links">
                <a href="https://www.facebook.com/TheMarketPlaceok/"><img src="../static/img/Facebook_Logo.png" alt="Facebook"></a>
                <a href="https://twitter.com/TheMarketPlaceO"><img src="../static/img/twitter.png" alt="Twitter"></a>
                <a href="https://www.instagram.com/themarketplace.ok/"><img src="../static/img/instagram.png" alt="Instagram" class="instagram"></a>
            </div>
    </footer>
    <script src="../static/js/inicio.js"></script>
</body>
</html>