<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../static/css/productos.css">
</head>
<header>
    <nav class="navbar">
        <div class="container">
            <a href="home.html" class="logo">
                <img src="../static/img/logo.png" alt="The MarketPlace Logo">
            </a>
            <ul class="menu">
                <li> <a href="home.html">Inicio</a></li>
                <li> <a href="productos.html">Productos</a></li>
                <li> <a href="categorias.html">Categorías</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="cuerpo">
            <img src="{{ producto.foto }}" alt="{{ producto.name }}">
            <div class="cuerpo2">
                <h2>{{ producto.name }}</h2>
                <p>{{ producto.descripcion }}</p>
                <p><b> $ {{ producto.price }}</b></p>
                <p><b>Cantidad disponible: {{ producto.quantity }}</b></p>
                <a href="/category/{{ producto.categoria }}">Volver a {{ producto.categoria }}</a>
                <br>
                <br>
                <button id="agregarCarrito">Agregar al Carrito</button>
                <button id="ofertar">Ofertar</button>
            </div>
    </div>

    <div id="ofertaPopup" class="popup">
        <div class="popup-content">
            <h2>Realizar una oferta</h2>
            <p>Precio del producto: ${{ producto.price }}</p>
            <p>Cantidad disponible: {{ producto.quantity }}</p>
            <input type="number" id="montoOferta" placeholder="Ingrese un precio menor al original">
            <input type="number" id="cantidadOferta" placeholder="Ingrese una cantidad menor a la disponible">
            <button id="confirmarOferta">Confirmar Oferta</button>
        </div>
    </div>

    <button class="carrito-button" id="verCarrito">Carrito</button>

    <div id="carritoPopup" class="popup">
        <div class="popup-content">
            <h2>Carrito de Compras</h2>
            <ul id="carrito-list">
            </ul>
            <div class="carrito-buttons">
                <button class="carrito-button-item" id="seguirComprando">Seguir Comprando</button>
                <form action="/redireccionarr" method="POST">
                    <button type="submit" class="seleccionar-button">Finalizar Compra</button>
                </form>
            </div>
        </div>
    </div>

    <div class="faq-section">
        <h2>Preguntas Frecuentes</h2>
        <ul class="faq-list">
            <li>
                <button class="question">¿Cómo hago un pedido?</button>
                <div class="answer">Para hacer un pedido, simplemente navega por nuestra tienda en línea, selecciona los productos que deseas y agrégalos al carrito de compras. Luego, ve al carrito de compras y sigue los pasos para completar tu pedido.</div>
            </li>
            <li>
                <button class="question">¿Cuáles son las opciones de pago?</button>
                <div class="answer">Aceptamos pagos con tarjeta de crédito y débito, Mercado Pago y transferencia bancaria. Puedes seleccionar la opción de pago durante el proceso de compra.</div>
            </li>
            <li>
                <button class="question">¿Cuánto tiempo toma la entrega?</button>
                <div class="answer">El tiempo de entrega depende de tu ubicación y el método de envío seleccionado. Normalmente, los pedidos se entregan en 3-5 días hábiles.</div>
            </li>
        </ul>
    </div>

    <script>
        function limpiarCarrito() {
            localStorage.removeItem("carrito");
        }

        function obtenerCarrito() {
            return JSON.parse(localStorage.getItem("carrito")) || [];
        }


        const carrito = obtenerCarrito();

function actualizarListaCarrito() {
    const carritoList = document.getElementById("carrito-list");
    carritoList.innerHTML = ""; 
    carrito.forEach((item, index) => {
        const li = document.createElement("li");
        li.innerHTML = `
            <img src="${item.foto}" alt="${item.producto}">
            <div>
                <strong>${item.producto}</strong><br>
                Cantidad: ${item.cantidad}<br>
                Precio Total: $${item.precioUnitario * item.cantidad}
            </div>
            <button class="eliminar-producto" data-index="${index}">Eliminar</button>
        `;
        carritoList.appendChild(li);
    });

    const eliminarProductoButtons = document.querySelectorAll('.eliminar-producto');
    eliminarProductoButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            const index = event.target.getAttribute('data-index');
            eliminarProducto(index);
        });
    });
}

function eliminarProducto(index) {
    carrito.splice(index, 1);
    localStorage.setItem("carrito", JSON.stringify(carrito));
    actualizarListaCarrito();
}



        const agregarCarritoButton = document.getElementById("agregarCarrito");

        agregarCarritoButton.addEventListener("click", () => {
            const cantidad = parseFloat(prompt("Ingrese la cantidad:"));
            if (cantidad <= {{ producto.quantity }}) {
                carrito.push({
                    producto: "{{ producto.name }}",
                    cantidad: cantidad,
                    precioUnitario: {{ producto.price }},
                    foto: "{{ producto.foto }}",
                });
                localStorage.setItem("carrito", JSON.stringify(carrito));
                alert("Producto agregado al carrito.");
            } else {
                alert("La cantidad ingresada es mayor a la disponible.");
            }
        });

        const ofertarButton = document.getElementById("ofertar");
        const ofertaPopup = document.getElementById("ofertaPopup");
        const confirmarOfertaButton = document.getElementById("confirmarOferta");

        ofertarButton.addEventListener("click", () => {
            ofertaPopup.style.display = "block";
        });

        confirmarOfertaButton.addEventListener("click", () => {
            const montoOferta = parseFloat(document.getElementById("montoOferta").value);
            const cantidadOferta = parseFloat(document.getElementById("cantidadOferta").value);

            if (montoOferta < {{ producto.price }} && cantidadOferta <= {{ producto.quantity }}) {
                ofertaPopup.style.display = "none";
                alert("Oferta realizada con éxito.");
            }
            else {
                alert("Por favor, ingrese un precio menor al original y una cantidad menor o igual a la disponible.");
            }
        });

        const verCarritoButton = document.getElementById("verCarrito");
        verCarritoButton.addEventListener("click", () => {
            const carritoPopup = document.getElementById("carritoPopup");
            actualizarListaCarrito(); 
            carritoPopup.style.display = "block";
        });

        const seguirComprandoButton = document.getElementById("seguirComprando");
        seguirComprandoButton.addEventListener("click", () => {
            const carritoPopup = document.getElementById("carritoPopup");
            carritoPopup.style.display = "none";
        });

        const finalizarCompraButton = document.getElementById("finalizarCompra");
        finalizarCompraButton.addEventListener("click", () => {
            window.location.href = "finalizacompra.html";
        });
    </script>

    <script>
    
        const questions = document.querySelectorAll(".question");
        const answers = document.querySelectorAll(".answer");

      
        questions.forEach((question, index) => {
            question.addEventListener("click", () => {
                
                if (answers[index].style.display === "block") {
                    answers[index].style.display = "none";
                } else {
                    answers[index].style.display = "block";
                }
            });
        });
    </script>


</body>
</html>