<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Menu HTML5/CSS/JS</title>
    <script src="https://kit.fontawesome.com/433b24fc29.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/prueba.css">
  </head>
  
  <body>
    <div class="sidebar">
      <div class="sidebar_header">
        <i class="fa-solid fa-dragon fa-2x"></i>
      </div>
  
      <div class="sidebar_menu">
        <a href="#" class="sidebar_item">
          <div class="sidebar_icon">
            <i class="fa-solid fa-house"></i>
          </div>
          <h4>HOME</h4>
        </a>
        <a href="#" class="sidebar_item">
          <div class="sidebar_icon">
            <i class="fa-brands fa-steam"></i>
          </div>
          <h4>STEAM</h4>
        </a>
        <a href="#" class="sidebar_item">
          <div class="sidebar_icon">
            <i class="fa-brands fa-playstation"></i>
          </div>
          <h4>SONY</h4>
        </a>
        <a href="#" class="sidebar_item">
          <div class="sidebar_icon">
            <i class="fa-brands fa-xbox"></i>
          </div>
          <h4>XBOX</h4>
        </a>
        <a href="#" class="sidebar_item">
          <div class="sidebar_icon">
            <i class="fa-brands fa-twitch"></i>
          </div>
          <h4>TWITCH</h4>
        </a>
      </div>
    </div>
  
    <div class="container">
      <header class="header">
        <button class="btn-toggle"><i class="fa-solid fa-bars"></i></button>
      </header>
  
      <div class="content">
        <i class="fa-brands fa-fantasy-flight-games fa-10x"></i>
      </div>
    </div>
  
    <script src="../static/js/prueba.js"></script>
  </body>
  
  </html>