<!DOCTYPE html>
<html>
<head>
    <title>¿Quiénes somos? - The Marketplace</title>
    <link rel="stylesheet" type="text/css" href="../static/css/quienessomos.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Nunito:wght@300&display=swap');
  </style>
<header>
    <nav class="navbar">
        <div class="container">
            <a href="home.html" class="logo">
                <img src="../static/img/logo.png" alt="The MarketPlace Logo">
            </a>
            <ul class="menu">
                <li> <a href="home.html">Home</a></li>
                <li> <a href="iniciar.html">Iniciar sesión</a></li>
                <li> <a href="categorias.html">Categorías</a></li>
            </ul>
        </div>
    </nav>
</header>

<body>
    <h1>Sobre Nosotros</h1>
    <section>
        <h2>Nuestra Historia</h2>
        <p>Somos un grupo de emprendedores apasionados por la tecnología y el comercio en línea. Fundamos The Marketplace con la visión de crear un espacio donde las personas puedan descubrir y adquirir una amplia gama de productos de alta calidad. Nuestro compromiso es brindar a nuestros clientes la mejor experiencia de compra en línea, ofreciendo productos únicos y servicios excepcionales.</p>
    </section>
    <section>
        <h2>Nuestra Misión</h2>
        <p>En The Marketplace, nuestra misión es conectar a los compradores con vendedores confiables y ofrecer un mercado en línea seguro y conveniente. Lo que distingue a este sitio de todos los demás, es la oportunidad única de tienen los compradores de poder negociar el precio con los vendedores y llegar a un acuerdo beneficioso para ambas partes. Valoramos la transparencia, la integridad y la satisfacción del cliente. Trabajamos arduamente para mantener altos estándares de calidad y confiabilidad en cada transacción.</p>
    </section>
    <section>
        <h2>Nuestro Equipo</h2>
        <p>Nuestro equipo está compuesto por individuos apasionados y dedicados que comparten un profundo interés en la innovación y el comercio electrónico. Juntos, trabajamos incansablemente para hacer de The Marketplace un lugar excepcional para comprar y vender. Nos enorgullece contar con vendedores talentosos y compradores comprometidos que hacen que nuestra comunidad sea única.</p>
    </section>
    <footer>
        <p>&copy; 2023 The Marketplace - Todos los derechos reservados.</p>
    </footer>
</body>
</html>
